html {
    background-color: #00d982;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 20px;
}

header {
    color: #fff;
}

h2 {
    margin:0px;
    padding:10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #5e7992;
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

p {
    text-align: justify;
}

form {
    padding: 20px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

label {
padding: 5px;
    font-weight: bold;
    color: #5e7992;
}

input {
    margin: 10px;
display: block;
width: 90%;
    box-sizing: border-box;
    border: 1px solid #ebeeef;
    background-color: #f9fafa;
}

.form-item {
    color: red;
}

button {
    margin: 10px;
    padding: 25px;
    width: 90%;
    background-color: #00d982;
    border: none;
    color: #fff;
}

input,
button {
    padding:5px;
    font-size: 1rem;
    border-radius: 2px;
}

@media (min-width: 600px) {

 
    .form-item {
    }
    
    
@media (min-width: 900px) {
    p{
    }

  